In [1]:
# Import packages
import pandas as pd
import numpy as np
import configparser
from sqlalchemy import create_engine

In [2]:
# Read configuration file...practice.ini has user, password, host, and database
config = configparser.ConfigParser()
config.read('practice.ini')

['practice.ini']

In [3]:
# Get database connection details
user = config.get('database', 'user')
password = config.get('database', 'password')
host = config.get('database', 'host')
database = config.get('database', 'database')

In [4]:
# Create connection engine to the database
engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}/{database}')

In [5]:
# Query to select data from database
query = 'SELECT * FROM Movies'

In [6]:
# Read the data from database into a pandas df
pd.set_option('display.max_columns', None)
df = df = pd.read_sql_query(query, engine)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 508 entries, 0 to 507
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Movie Title    508 non-null    object
 1   Release Date   508 non-null    datetime64[ns]
 2   Wikipedia URL  508 non-null    object
 3   Genre          508 non-null    object
 4   Director (1)   508 non-null    object
 5   Director (2)   508 non-null    object
 6   Cast (1)       508 non-null    object
 7   Cast (2)       508 non-null    object
 8   Cast (3)       508 non-null    object
 9   Cast (4)       508 non-null    object
 10  Cast (5)       508 non-null    object
 11  Budget         0 non-null      object
 12  Revenue        0 non-null      object
dtypes: datetime64[ns](1), object(12)
memory usage: 51.7+ KB